body {
     color: #222;
     font-family: 'Roboto';
 }

 h1 {
     font-size: 2rem;
     font-variant: small-caps;
     font-weight: 400;
     text-align: centre;
     border-bottom: 2px solid #aaa;
 }

 h2 {
     font-size: 1.5rem;
     font-weight: 500;
     border-bottom: 1px solid #aaa;
 }

 h3 {
     font-size: 1.32rem;
     font-weight: 600;
 }

 h4 {
     font-size: 1.13rem;
     font-weight: 600;
 }

 #main-image {
     filter: saturate(<500>);
 }

 blockquote {
     padding: 15px;
     font-style: italic;
     background-color: #eee;
     border-radius: 3px;
     border: 1px solid #ddd;
 }

 figure {
    margin: 15px 40px;
    padding: 15px;
    width: 250px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #ddd;
 }

 figcaption {
     font-style: italic;
     font-size: 0.8125rem;
 }

 img {
     width: 100%;
     border-radius: 3px;
 }

.main_descr {
    font-weight: 500;
}

a{
    text-decoration: none;
    color: #0088ff;
}

 .content {
     margin: 15px 40px;
     padding: 15px;
     width: 250px;
     background-color: #eee;
     border-radius: 3px;
     border: 1px solid #ddd;
 }
